<!DOCTYPE html>
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<html>
<head>
    <f:section name="stylesheets">
        <link rel="stylesheet" href="{f:uri.resource(path: 'css/bootstrap.css', package: 'neos.leer')}" media="all" />
        <link rel="stylesheet" href="{f:uri.resource(path: 'css/style.css', package: 'neos.leer')}" media="all" />
        <!-- webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,300,600,500,900,700,100,800|Comfortaa:700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Comfortaa:700,300,400' rel='stylesheet' type='text/css'>
        <!-- webfonts -->
    </f:section>
    <f:section name="headScripts">
        <script src="{f:uri.resource(path: 'js/jquery.min.js', package: 'neos.leer')}"></script>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- script-for-nav -->
        <script>
            $(document).ready(function(){
                $("span.menu").click(function(){
                    $(".top-nav ul").slideToggle(1000);
                });
            });
        </script>
        <!-- script-for-nav -->
    </f:section>
</head>
<body>
<f:section name="body">
    <div class="header">
        <div class="container">
            <!-- logo -->
            <div class="logo">
                <a href="index.html"><img src="{f:uri.resource(path: 'images/logo.png', package: 'neos.leer')}" title="carwash" /></a>
            </div>
            <!-- /logo -->
            <!-- top-nav -->
            <div class="top-nav">
                <span class="menu"> </span>
                {parts.menu -> f:format.raw()}
            </div>
        </div>
        <nav class="breadcrumb">
            {parts.breadcrumb -> f:format.raw()}
        </nav>
        <div class="content">
            {content.main -> f:format.raw()}
        </div>
        <div class="footer">
            <div class="container">
                <div class="footer-grids">
                    <div class="col-md-3">
                        <div class="footer-grid">
                            <h5>About CarWash</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis, urna a aliquam rhoncus,</p>
                            <p> Ut ultrices diam enim, eget consectetur elit iaculis eu</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-grid f-blog">
                            <h5>Form the Blog</h5>
                            <div class="f-blog-artical">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <span>March 20,2014</span>
                            </div>
                            <div class="f-blog-artical f-blog-artical1">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <span>March 20,2014</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-grid site-map">
                            <h5>Site Map</h5>
                            {parts.metaMenu -> f:format.raw()}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-grid f-gallery">
                            <h5>Form the Gallery</h5>
                            <div class="f-gallery-grids">
                                <div class="f-gallery-grid">
                                    <ul>
                                        <li><a href="#"><img src="images/people-pic.jpg" title="name" /></a></li>
                                        <li><a href="#"><img src="images/people-pic1.jpg" title="name" /></a></li>
                                        <li><a href="#"><img src="images/people-pic4.jpg" title="name" /></a></li>
                                        <li><a href="#"><img src="images/people-pic3.jpg" title="name" /></a></li>
                                        <li><a href="#"><img src="images/people-pic4.jpg" title="name" /></a></li>
                                        <li><a href="#"><img src="images/people-pic1.jpg" title="name" /></a></li>
                                        <div class="clearfix">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- /footer -->
        <!-- footer-bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-left">
                    <p>Design by<a href="http://w3layouts.com/">W3layouts</a></p>
                </div>
                <div class="footer-bottom-right">
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Google+</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div>
        {footer -> f:format.raw()}
    </div>
</f:section>
<f:section name="bodyScripts">
    <!-- Put your scripts inclusions for the end of the body here, they will be included in your website by TypoScript -->
</f:section>
</body>
</html>
